/* 
font-family: 'Lato', sans-serif; */



*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}



/* .app {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
    padding: 1em 5em;
} */