.main {
    margin-top: 2em;
}

.sport-images-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.sport-showcase {
    display: flex;
}

.single-sport-showcase {
    flex-grow: 4;

}



.allsports-showcase {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main .sport-images-container img {
    opacity: 0.7;
}

.sport-showcase div img {
    width: 306.5px;
    height: 208px;
}

.football {
    width: 613px;
    height: 200px;
}

.cycling-container,
.football-container,
.rugby-container,
.basketball-container {
    background-repeat: no-repeat;
    opacity: 0.9;

}

.basketball-container,
.rugby-container {
    height: 13em;
    background-size: 100%;
    width: 100%;
}

.cycling-container {
    position: relative;
    height: 23em;
    background-image: url(../assets/cycling.jpg);
    width: 100%;
    background-size: cover;
}

.football-container {

    height: 10em;
    background-image: url(../assets/football.jpg);
    background-size: 100% 100%;
}

.basketball-container {
    background: url(../assets/basketball.jpg);
    background-size: 110% 100%;
}

.rugby-container {
    background: url(../assets/rugby.jpg);

}

.cycling-container div,
.football-container div,
.basketball-container div,
.rugby-container div {
    position: relative;
    top: 60%;
    margin-left: 3em;
    margin-right: 2em;

}

.football-container div {
    top: 40%;
}

.basketball-container div,
.rugby-container div {
    top: 40%;
}





.cycling-link,
.football-link,
.rugby-link,
.basketball-link {
    background-color: #e63946;
    color: white;
    font-weight: 500;
    padding: 5px;
    letter-spacing: 2px;
}

.football-link {
    background-color: #107cc0;
}

.basketball-link {
    background-color: #007506;
}

.rugby-link {
    background-color: #99582a;
}

.cycling-link:hover,
.football-link:hover,
.rugby-link:hover,
.basketball-link:hover {
    background-color: white;
}

.cycling-link:hover {
    color: #e63946;
    border: 1px solid #e63946;
}

.football-link:hover {
    color: #107cc0;
    border: 1px solid #107cc0;
}

.basketball-link:hover {
    color: #007506;
    border: 1px solid #007506
}

.rugby-link:hover {
    color: #99582a;
    border: 1px solid #99582a;
}


.football-card {
    margin-right: 2em;
    width: 300px;
    padding-bottom: 2em;
}

.football-card h3,
.boxing-card h4,
.cycling-card h4 {
    font-weight: 700;
}

.football-newslink-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.football-newslink-container p {
    align-self: center;
    margin-top: 0.7em;
}

.football-card-container .allfootballnews-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 3em;
}

.football-card-container {
    display: flex;
    margin-top: 6em;
    flex-direction: column;
}

.football-cardheading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    border-bottom: 1px solid #5e61634f;
}

.dot-container {
    display: flex;

}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #107cc0;
    margin-right: 0.7em;
    align-self: center;
    margin-bottom: 5px;
}

.show-more {
    color: #5e6163c4;
    font-size: 1.1em;
}

.boxing-card,
.cycling-card {

    padding: 1em 0 2em 0;
    border-bottom: 1px solid #5e61634f;
    border-top: 1px solid #5e61634f;

}

.boxing-card a,
.cycling-card a {
    color: #5e6163c4;
    letter-spacing: 1px;

}

.boxing-card-container,
.cycling-card-container {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.cycling-card {
    border-top: none;
}

.othersports-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 3em;
}