.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

.navbar ul li {
    display: inline-block;
    padding-right: 3em;
}

.category-links {
    color: #3e4246ed;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.ant-input-group-wrapper.search {
    width: 200px;
}

.hamburger {
    filter: invert(22%) sepia(18%) saturate(222%) hue-rotate(169deg) brightness(97%) contrast(86%);
}

@media(max-width: 1440px) {
    .navbar ul li {
        padding-right: 2em;
    }

    .ant-input-group-wrapper.search {
        width: 150px;
    }

}

@media(max-width: 1024px) {
    .category-links {
        font-size: 1.1em;
    }
}